body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.calculator {
    border-radius: 10px;
    width: 300px;
    background-color: #333;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.display {
    width: calc(100% - 20px);
    height: 60px;
    padding: 10px;
    font-size: 28px;
    border: none;
    outline: none;
    background-color: #444;
    color: #fff;
    text-align: right;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    padding: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #666;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #444;
}

button.operator {
    background-color: #ff5f5f;
    color: #fff;
}

button.operator:hover {
    background-color: #ff3f3f;
}
